<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

		<ul>
			<li> <a class="buttons" href="mailto:gurpreet.bioinfo@gmail.com"> Email </a>
			<li> <a class="buttons" href="https://www.linkedin.com/in/gurpreet-bioin4" target="_blank"> LinkedIn </a> 
			<li> <a class="buttons" href="https://www.researchgate.net/profile/Gurpreet_Kaur2" target="_blank"> ResearchGate </a> 
			<li> <a class="buttons" href="https://scholar.google.com/citations?hl=en&user=cFgjdH0AAAAJ&view_op=list_works&sortby=pubdate" target="_blank"> GoogleScholar </a> 
			<li> <a class="buttons" href="https://twitter.com/gurpreet_bioin4/" target="_blank">Twitter </a> 
			<li> <a class="buttons github" href="https://github.com/gurpreet-bioinfo" target="_blank">Github </a>
		</ul>
      </header>

      <section>
        {{ content }}
      </section>

		<footer>
		<p>
		</p>		
		<p><font size = "3"> Hosted on <a href="https://github.com/gurpreet-bioinfo" target="_blank">GitHub</a> using the Dinky theme </font> </p>	
		<!-- <p><font size = "2"> Site last updated: 1st March 2020 </font></p> -->
		</footer>
		
	</div>
  </body>
</html>